@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff6600;
}

.playlist {
  display: flex;
  flex-direction: column;
}

.song,
.control,
.footer {
  display: flex;
}

@keyframes harlem {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
  20% {
    transform: scale(1.03, 1);
    -webkit-transform: scale(1.03, 1);
    -moz-transform: scale(1.03, 1);
    -o-transform: scale(1.03, 1);
    -ms-transform: scale(1.03, 1);
  }
  40% {
    transform: scale(0.97, 1);
    -webkit-transform: scale(0.97, 1);
    -moz-transform: scale(0.97, 1);
    -o-transform: scale(0.97, 1);
    -ms-transform: scale(0.97, 1);
  }
  60% {
    transform: scale(1.01, 1);
    -webkit-transform: scale(1.01, 1);
    -moz-transform: scale(1.01, 1);
    -o-transform: scale(1.01, 1);
    -ms-transform: scale(1.01, 1);
  }
  80% {
    transform: scale(0.99, 1);
    -webkit-transform: scale(0.99, 1);
    -moz-transform: scale(0.99, 1);
    -o-transform: scale(0.99, 1);
    -ms-transform: scale(0.99, 1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
  }
}

.screen {
  background-color: #fff;
  padding: 0;
  height: 550px;
  width: 366px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  margin: 50px 0;
  .toggle {
    position: absolute;
    top: 23px;
    left: 23px;
    color: #fff;
    font-size: 20px;
    line-height: 16px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in;
  }

  .toggle:hover {
    color: #ff564c;
  }

  .toggle.active {
    color: #ff564c;
    transition: all 0.3s ease-in;
  }

  .coverImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 366px;
    height: 366px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in;
  }
  .coverImage::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .coverImage.active {
    transform: scale(0.251, 0.251);
    left: 23px;
    top: 60px;
    transition: all 0.3s ease-in;
    border-radius: 20px;
  }

  .search {
    position: absolute;
    top: 23px;
    right: 23px;
    color: #959595;
    font-size: 20px;
    line-height: 16px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease-in;
  }

  .search:hover {
    color: #ff564c;
  }

  .bodyPlayer {
    position: absolute;
    top: 366px;
    left: 0;
    margin: 0;
    padding: 0;
    height: 286px;
    width: 366px;
    background: #111;
    transition: all 0.3s ease-in;
  }

  .bodyPlayer.active {
    height: 470px;
    left: 0;
    top: 180px;
    transition: all 0.3s ease-in;
  }

  .playlist {
    border-spacing: 0px 2px;
    width: 342px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 378px;
    left: 12px;
    transform-origin: 0% 0%;
    transform: scale(0.1, 0.1);
    transition: all 0.3s ease-in;
    .song {
      margin: 2px 0;
      transform-origin: 0% 50%;
      height: 50px;
      text-align: center;
      background: #1d1d1d;
      text-indent: 8px;
      .song-item {
        padding: 16px 0;
      }
      .title {
        width: 80%;
        text-align: left;
        text-indent: 15px;
        transition: all 0.11s ease-in;
      }
    }
    .song:hover {
      background: #222;
      cursor: pointer;
    }
    .icon {
      color: #777;
      font-size: 15px;
      line-height: 15px;
      cursor: pointer;
      z-index: 10;
      transition: all 0.15s linear;
    }
    .icon.like {
      i {
        font-weight: bold;
        color: #f25795;
      }
    }
  }

  .playlist.active {
    top: 192px;
    left: 12px;
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
    transition: all 0.3s ease-in;
  }

  .info {
    position: absolute;
    left: 0;
    top: 460px;
    transition: all 0.3s ease-in;
  }
  .info.active {
    top: 66px;
    left: 126px;
    text-align: left;
    transition: all 0.3s ease-in;
    h4 {
      margin-left: 0;
      font-size: 16px;
      color: #111111;
      transition: all 0.3s ease-in;
    }
  }

  .control {
    background: none;
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    width: 216px;
    height: 35px;
    position: absolute;
    bottom: 110px;
    left: 48%;
    transform: translate(-50%, 0);
    z-index: 10;
    transition: all 0.3s ease-in;
    .btn {
      width: 72px;
      cursor: pointer;
      transition: all 0.15s linear;
      .fa-pause {
        display: none;
      }
    }
    .play-btn.active {
      .fa-play {
        display: none;
      }
      .fa-pause {
        display: block;
      }
    }
    .btn:hover {
      color: #ff564c;
      transition: all 0.15s linear;
    }
  }
  .control.active {
    bottom: 4px;
    left: -44px;
    transform: scale(0.45, 0.45);
    transition: all 0.3s ease-in;
    z-index: 100;
  }

  .shadow {
    background: rgba(17, 17, 17, 0.8);
    width: 360px;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 0;
    box-shadow: 0px -15px 40px rgba(17, 17, 17, 0.8);
  }
  .shadow.active {
    background: rgba(17, 17, 17, 1);
  }

  .footer {
    justify-content: space-around;
    background: none;
    color: #6d6d6d;
    font-size: 15px;
    line-height: 15px;
    height: 45px;
    width: 360px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 20;
    transition: all 0.15s linear;
    transition: bottom 0.3s linear;
    .footer-icon {
      cursor: pointer;
      transition: all 0.15s linear;
    }
    .footer-icon:hover {
      color: #bbb;
      transition: all 0.15s linear;
    }
    .repeat.active {
      color: #ff564c;
    }
    .shuffle.active {
      color: #ff564c;
    }
    .love.like {
      i {
        font-weight: bold;
        color: #f25795;
      }
    }
  }
  .footer.active {
    bottom: -60px;
    transition: all 0.3s ease-in;
  }

  .current {
    position: absolute;
    right: 23px;
    bottom: -60px;
    transition: all 0.3s ease-in;
  }
  .current.active {
    width: 200px;
    bottom: 16px;
    transition: all 0.3s ease-in;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2.5px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #fff;
  }

  h4 {
    margin: 0 0 5px 29px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #fff;
  }

  h5 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 13px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #6d6d6d;
  }

  h6 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 13px;
    font-family: "Open Sans";
    font-weight: 700;
    color: #f0f0f0;
  }
}
